<header class="header">
    <nav class="nav">
        <div class="nav-title">
            <a href="/home">EcoSound</a>
        </div>
        <ul class="nav-list">
            <a class="n-list" href="/home">Home</a>
            <a class="n-list" href="/products">products</a>
            <a class="n-list" href="/chat">chat</a>
        </ul>
        <div class="button-sesion">
            <a href="/login">Iniciar Sesion</a>
        </div>
    </nav>
</header>